/* 覆寫 Bootstrap Icons 的 font-display 設定以優化效能 */
@font-face {
  font-display: swap;
  font-family: bootstrap-icons;
  src:
    url('../../../node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff2?e34853135f9e39acf64315236852cd5a')
      format('woff2'),
    url('../../../node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff?e34853135f9e39acf64315236852cd5a')
      format('woff');
}
