---
import { Icon } from 'astro-icon/components';
---

<theme-toggler>
  <button
    aria-label="Toggle theme"
    class="theme-toggle-btn flex items-center justify-center p-2 text-current hover:bg-black/5 dark:hover:bg-white/10 rounded-xl transition-colors"
    type="button"
  >
    <Icon class="hidden dark:block w-5 h-5" id="moon-icon" name="bi:moon-fill" />
    <Icon class="block dark:hidden w-5 h-5" id="sun-icon" name="bi:sun-fill" />
  </button>
</theme-toggler>

<script>
  class ThemeToggler extends HTMLElement {
    private button: HTMLButtonElement | null = null;
    private htmlElement = document.documentElement;
    private mediaQuery = window.matchMedia('(prefers-color-scheme: dark)');

    connectedCallback() {
      this.button = this.querySelector('.theme-toggle-btn');
      this.button?.addEventListener('click', this.toggleTheme);
      this.mediaQuery.addEventListener('change', this.handleSystemThemeChange);

      // 初始化目前主題
      this.setTheme(this.getPreferredTheme());
    }

    disconnectedCallback() {
      this.button?.removeEventListener('click', this.toggleTheme);
      this.mediaQuery.removeEventListener('change', this.handleSystemThemeChange);
    }

    private getStoredTheme = () => localStorage.getItem('theme');
    private setStoredTheme = (theme: string) => localStorage.setItem('theme', theme);

    private getPreferredTheme = () => {
      const storedTheme = this.getStoredTheme();
      if (storedTheme) {
        return storedTheme;
      }
      return this.mediaQuery.matches ? 'dark' : 'light';
    };

    private setTheme = (theme: string) => {
      if (theme === 'dark' || (theme === 'auto' && this.mediaQuery.matches)) {
        this.htmlElement.classList.add('dark');
      } else {
        this.htmlElement.classList.remove('dark');
      }
    };

    private toggleTheme = () => {
      const isDark = this.htmlElement.classList.contains('dark');
      const newTheme = isDark ? 'light' : 'dark';
      this.setStoredTheme(newTheme);
      this.setTheme(newTheme);
    };

    private handleSystemThemeChange = () => {
      const storedTheme = this.getStoredTheme();
      if (storedTheme !== 'light' && storedTheme !== 'dark') {
        this.setTheme(this.getPreferredTheme());
      }
    };
  }

  customElements.define('theme-toggler', ThemeToggler);
</script>
