---
import type { CategoryWithContent } from '../utils/content';

import ContentNavigation from './content-navigation.astro';

interface Props {
  activeId?: string;
  ariaLabel?: string;
  navigation: CategoryWithContent[];
}

const { activeId, ariaLabel = '側邊導覽', navigation } = Astro.props;
---

<div class="hidden lg:block px-2 pb-2">
  <nav aria-label={ariaLabel}>
    <ContentNavigation activeId={activeId} id="content-sidebar-accordion" isDrawer={true} navigation={navigation} />
  </nav>
</div>
