<footer class="footer py-3 bg-body-secondary text-center">
  <div>
    © 2025 Pen's Pulse. All rights reserved. <br class="d-lg-none" />
    <a class="text-decoration-none" href="mailto:penspulse@gmail.com">✉️ penspulse@gmail.com</a>
  </div>
</footer>

<style>
  /* 頁尾高度設定 */
  .footer {
    height: 80px;

    @media (width >= 992px) {
      height: 56px;
    }
  }
</style>
