---
import ArticleLayout from '../../layouts/article-layout.astro';
import { getNavigation } from '../../utils/plans';

const plansNav = getNavigation();
const navigation = plansNav.map((cat) => ({
  id: cat.id,
  items: cat.plans,
  label: cat.label,
  position: cat.position,
}));
---

<ArticleLayout navigation={navigation} showToc={false} title="挑戰計畫">
  <section class="plans-intro px-2 px-lg-4 w-full">
    <header class="mb-4">
      <h1 class="display-6 fw-bold mb-3">挑戰計畫</h1>
    </header>

    <div class="card-body">
      <p>
        這裡記錄各種 Side Project 的開發過程。相較於筆記，這裡的內容會比較多雜項，但通常還是會有實作與小結。
        <br />
        <br />
      </p>
    </div>
  </section>

  <style>
    /* 列表項目間距 */
    li {
      margin-bottom: 0.5rem;
    }
  </style>
</ArticleLayout>
